* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'PingFang TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
